@import "../variables.modules";

nav {
  transition: $transition;
}

ul {
  padding-bottom: 1.5rem;
}
.active {
  border-bottom: 5px solid;
  border-image-slice: 1;
}
p {
  font-size: 18px;
  font-weight: bold;
}

li {
  transition: $transition;

  &:hover {
    transform: translateY(-3px);
    transition: $transition;
  }
}