
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

#lightmode {
    color: white;
}
  
#darkmode {
    color: #1f1f1f;
}

#contact-form {
    margin: 5% 20%;
    width: 50vw;
}

#contact-form input{
    width: 50vw;
    height: 5vh;
    font-size: 24px;
}

button {
    font-size: 24px;
    padding: .5rem;
    margin-top: 1rem;
}

.download-box {
    display: flex;
    justify-content: center;
}

label {
    font-size: 24px;
}

.footer {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 1rem;
}

.link-box {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: space-around;
}

