@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "./variables.modules";

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.5vh;
    width: 100%;
    height: 100%;
    color: $dark;
    background-color: $white;
    box-sizing: border-box;
}

li {
    color: $dark;
}

footer {
  color: $dark;
}

.dark {
    background-color: $dark;
    color: $white;
    transition: all 400ms;

    a, i, li {
        color: $white;
        transition: color 400ms;
    }
    // make download icon stay dark (still in button)
    #downloadicon {
        color: $dark;
    }

    a:visited {
        color: $white;
    }

    footer {
        color: $white;
    }
}

.light {
  background-color: $white;
  color: $dark;
  transition: all 400ms;
}